.paginationArea {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--fs8);
  margin: var(--fs33) 0;
}
.paginationArea button {
  border: none;
  outline: none;
  background: var(--light-colors-white-light);
  border-radius: var(--fs8);
  padding: var(--fs8);
  transition: 0.3s;
}
/* .paginationArea button:not(:nth-last-child)  */
.paginationArea button:hover:not(:disabled),
.paginationArea button.active {
  background-color: var(--dark-colors-accent-dark);
  color: var(--dark-colors-white-dark);
}
.paginationArea button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
