.listCon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* 얼라인 컨텐트는 아이템보다 부모 사이즈가 클 때에만 적용됨 */
  gap: var(--fs33);
}
.more {
  font-size: var(--fs12);
  transition: 0.3s;
}
.more:hover {
  color: var(--dark-colors-accent-dark);
  font-weight: var(--font-weight-bold);
}
.more::after {
  content: '\f138';
  font-family: 'bootstrap-icons';
  position: relative;
  transform: translateX(0);
  display: inline-block;
  transition: transform 0.3;
}
.more:hover::after {
  transform: translateX(5px);
}
.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: var(--fs20);
}
.list > li {
}
@media (max-width: 600px) {
  .list {
    grid-template-columns: repeat(auto-fill, 1fr);
  }
}
