main > * {
  margin-bottom: var(--fs33);
}
.detailCon {
  border: 2px solid blue;
  display: flex;
  gap: var(--fs33);
}
.detailCon > * {
  border: 2px solid olivedrab;
}
.detailCon > * > * {
  border: 2px solid tomato;
}
.imgWrap {
  border-radius: var(--fs16);
  overflow: hidden;
  width: calc(50% = var(--fs16));
}
.imgWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.infoWrap {
  flex: 1;
  padding: var(--fs16) 0;
  display: flex;
  gap: var(--fs16);
}
.title {
  font-size: var(--fs20);
}
.price {
  font-weight: var(--font-weight-bold);
  color: var(--dark-colors-accent-dark);
}
.discount {
  font-size: var(--fs12);
}
.category {
  font-size: var(--fs12);
}
