.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  padding: 1rem;
}
.header a,
.header span,
.header button {
  display: inline-block;
  padding: 0.25rem 0.3rem;
}
