.postcard {
  border: 1px solid lightgray;
  border-radius: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  flex-direction: column;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s;
  min-height: 250px;
}
.postcard:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.postcard:hover img {
  transform: scale(1.1);
}
.img {
  position: absolute;
  width: 45%;
  height: calc(100% - 2rem);
  /* border: 1px solid red; */
  top: 1rem;
  left: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  padding: 0 !important;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.postcard h3 {
  padding-top: 0.3rem;
  margin-bottom: 10px;
  font-size: 25px;
  color: rgb(168, 168, 168);
}
.postcard h3,
.postcard p {
  width: calc(55% - 3rem);
  /* border: 1px solid red; */
  padding-left: 1rem;
  transition: 0.3s;
}
.postcard:hover h3,
.postcard:hover p {
  color: black;
}
.author,
.createAt {
  color: rgb(162, 162, 162);
  font-size: 0.8rem;
  text-align: right;
}
.author {
  margin-top: 13%;
}
